body {
  background-color: #FFCC00;
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.active {
  background-color: #0099FF;
}
.search-form {
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: flex-start;
  padding: 0 20px;
  align-items: center;
}

.form-controls {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}
.form-controls input[type="text"] {
  display: flex;
  border: 1px solid lightgray;
  flex-grow: 1;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
}
.form-controls button {
  display: flex;
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
}
.form-controls input[type="text"]:focus {
  outline: none;
  border-color: gray;
  box-shadow: 0 2px 5px lightgray;
}

.form-controls label {
  display: none;
}